
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: calc(100% - 22px); /* Ajustar a largura para alinhar com os botões */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 5px; /* Adiciona um espaço acima do input */
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #0056b3;
}

.event-item {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px; /* Adiciona espaço entre os eventos */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-details {
  flex-grow: 1;
}

.event-actions {
  display: flex;
  gap: 10px; /* Espaçamento entre os botões de ação */
}

.event-actions button {
  padding: 5px 10px;
}

.event-actions button.edit {
  background-color: #ffc107; /* Cor para botão de editar */
  border: white;
}

.event-actions button.edit:hover {
  background-color: #e0a800; /* Cor de hover para botão de editar */
}

.event-actions button.delete {
  background-color: #dc3545; /* Cor para botão de deletar */
  border: white;
}

.event-actions button.delete:hover {
  background-color: #bb2d3b; /* Cor de hover para botão de deletar */
}
